{% comment %} {%- render 'star-grid' -%} {% endcomment %}
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'testimonial' %}
      <div class="testimonial-grid">
        <div class="testimonial-row">
          <div class="testimonial-star-rating">
            {% for i in (1..5) %}
              {% if i <= block.settings.star_rating %}
                <span class="testimonial-star filled">&#9733;</span>
              {% else %}
                <span class="testimonial-star">&#9733;</span>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% when 'bar' %}
      <div class="progress-container">
        <div class="progress-bar">
          <div class="progress" style="width: {{ block.settings.progress }}%;">{{ block.settings.progress }}</div>
        </div>
        <div>({{ block.settings.bar_number }})</div>
      </div>
  {% endcase %}
{% endfor %}

<style>
  /*  star rating */
  .testimonial-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .testimonial-row {
    display: contents;
  }

  .testimonial-star-rating {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 28px;
  }

  .testimonial-star-rating .testimonial-star {
    color: lightgray;
  }

  .testimonial-star-rating .testimonial-star.filled {
    color: gold;
  }

  .testimonial-star {
    font-size: 30px;
  }
  /* progress bar  */
  .progress-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .progress-bar {
    width: 200px;
    height: 20px; /* adjust as needed */
    background-color: gray;
  }

  .progress {
    height: 100%;
    background-color: yellow;
    color: transparent; /* hides the text */
  }
</style>

{% schema %}
{
  "name": "Section Testimonial V2",
  "settings": [],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "range",
          "id": "star_rating",
          "label": "Star Rating",
          "min": 1,
          "max": 5,
          "step": 1,
          "default": 5
        }
      ]
    },
    {
      "type": "bar",
      "name": "Bar",
      "settings": [
        {
          "type": "range",
          "id": "progress",
          "label": "Progress",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50
        },
        {
          "type": "number",
          "id": "bar_number",
          "label": "Bar Number",
          "default": 0
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Section Testimonial V2",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "bar"
        },
        {
          "type": "bar"
        },
        {
          "type": "bar"
        },
        {
          "type": "bar"
        },
        {
          "type": "bar"
        }
      ]
    }
  ]
}
{% endschema %}
